:root {
  --bg-brand: #9534d2;
  --bg-pressedPrimary: #b345e6;
  --bg-goverPrimary: #712d9c;
  --bg-brandExtraLight: #f1d8f9;
  --text-brandDisabled: #f1d8f9;
  --indicator-focused: #e2a4ff;
  --indicator-focusedAlternative: #f1d8f9;

  --bg-primary: #ffffff;
  --bg-secondary: #f3f4f6;
  --bg-tertiary: #f9fafb;
  --bg-disable: #f3f4f6;

  --border-extraLight: #e3e5e5;
  --border-light: #ced2da;
  --border-medium: #97a1af;

  --text-invert: #ffffff;
  --text-primary: #141c24;
  --text-secondary: #344051;
  --text-quartenery: #97a1af;
  --text-error: #f64c4c;

  --font-base: "Inter", "sans-serif";
}
